<div id="footer-upper">
  <div class="container" id="main">
    <div id="web-map-div">
      <div id="web-map-left">
        <ul>
          <li><a class="web-map" href="index.html">首頁</a></li>
          <li><a class="web-map" href="healthy-eating-recommendations.html">健康飲食</a></li>
          <li><a class="web-map" href="report-problem.html">回報問題</a></li>
          <li><a class="web-map" href="#" onClick="onToggleTextonly()">正常/純文字版本</a></li>
          <li><a class="web-map" href="terms-and-conditions.html">條款細則</a></li>
        </ul>
      </div>
      <div class="web-map-right">
        <ul>
          <li><a class="web-map" href="restaurant-star.html">餐飲之星</a></li>
          <li><a class="web-map" href="faq.html">常見問題</a></li>
          <li> <a class="web-map" href="#" onClick="onTogglePrintonly()">列印頁面</a></li>
          <li><a class="web-map" href="text-size.html">更改文字大小</a></li>
          <li><a class="web-map" href="contact-us.html">聯絡我們</a></li>
          <li><a class="web-map" href="index-eng.html">中文/Eng</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="desktop" style="margin-left: auto; margin-right: auto; text-align: center;">
      <a href="https://goo.gl/maps/TCHVAwW4K3o2z1z78" style="text-decoration: none; color: black;">地址：九龍深水埗南昌街289號</a>
      <a href="tel:27796851" style="text-decoration: none; color: black;">電話：27796851</a>
      <a href="fax:27884434" style="text-decoration: none; color: black;">傳真：27884434</a>
      <a href="mailto:s181034@cmass.edu.hk" style="text-decoration: none; color: black;">電郵：s181034@cmass.edu.hk</a>
    </div>
    <div class="mobile container" style="padding-bottom: 26px;">
      <a href="https://goo.gl/maps/TCHVAwW4K3o2z1z78"
        style="text-decoration: none; color: black;">地址：九龍深水埗南昌街289號</a></br>
      <a href="tel:27796851" style="text-decoration: none; color: black;">電話：27796851</a></br>
      <a href="fax:27884434" style="text-decoration: none; color: black;">傳真：27884434</a></br>
      <a href="mailto:s181034@cmass.edu.hk" style="text-decoration: none; color: black;">電郵：s181034@cmass.edu.hk</a>
    </div>
  </div>
  <div id="footer-lower">
    <div class="" style="font-size: 16px">
      版權所有 © 2023 香港美食協會，保留所有權利。
    </div>
  </div>