<div class="container">
  <a href="#" title="expend navigation" class="yellow-menu mobile" onclick="toggleNavButtonsVisibility()">
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
      <path
        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
    </svg>
  </a>
  <a href="index.html" class="yellow-link">首頁</a>
  <a href="restaurant-star.html" class="yellow-link">餐飲之星</a>
  <a href="healthy-eating-recommendations.html" class="yellow-link">健康建議</a>
  <a href="faq.html" class="yellow-link">常見問題</a>
  <a href="terms-and-conditions.html" class="yellow-link">條款細則</a>
  <a href="contact-us.html" class="yellow-link">聯絡我們</a>
</div>